body{
  background-image: url(1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div{
  float: right;
}

a{
  text-decoration: none;
  color: black;
  display: inline;
  font-size: 20px;
}

ul li{
  display: inline-block;
  list-style-type: none;
  margin: 30px;
}

ul {background-color: gainsboro;}

h1{
  text-align: right;
  color: gainsboro;

}
