body{
  background-image: url(1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div{
  float: right;
}

a{
  text-decoration: none;
  color: black;
  display: inline;
  font-size: 20px;
}

ul li{
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
  margin: 30px;
}

ul {
  background-color: gainsboro;
  position: relative;
}

h1{
  text-align: right;
  color: gainsboro;

}

ul li ul{
display: none;
position: absolute;
}

ul li ul li{
  display: block;
}


ul li:hover ul{
  display: block;
  margin:
}
