h1{
  color:brown;
  font-size: 64px;
  font-family: georgia;
  background-color: pink;
  font-style: bold;
}
h3{
  color: brown;
  font-size:50px;
  font-family: georgia;
  background-color: pink;
  font-style: bold;
}






body{
  background-color: grey;
}


#nav{

  background-color: WHITE;
  font-size: 20px;
  font-family: sans-serif;

}
#nav li{
  background-color: pink;
  display: inline-block;
  padding: 20px;
  margin: 10px;
}
ul{
  background-color: white;
  font-size: 20px;
  font font-family: sans-serif;
}
p{
  background-color: white;
}
ul li a {
  color: white;
  text-decoration: none;
}
